<h1 class='country__title'>{{name}}</h1>
<img src={{flag}} width='300' />
<p class='country__info'><b>Capital:</b> {{capital}}</p>
<p class='country__info'><b>Population:</b> {{population}}</p>
<p class='country__info'><b>Languages:</b></p>
<ul>
  {{#each languages}}
    <li>{{name}}</li>
  {{/each}}
</ul>