<h1>{{name}}</h1>
<img src={{flag}} width='300' />
<p><b>Capital:</b> {{capital}}</p>
<p><b>Population:</b> {{population}}</p>
<p><b>Languages:</b></p>
<ul>
  {{#each languages}}
    <li>{{name}}</li>
  {{/each}}
</ul>